body {
    font-size:25px;
    box-sizing:border-box;
    margin:0;
    padding:0;
    color:#000000;
    background-color:#00ff6d;
    font-family: "Glass Antiqua"
}
h1 {
    font-size:60px;
    text-align:center;
    margin-top:3%;
    text-shadow:3px 3px #008605
}
.card-container {
    box-sizing:border-box;
    display:flex;
    width:90%;
    margin:3rem auto;
    flex-direction:row;
    align-items:center;
    flex-wrap:wrap;
    flex-direction:row;
    background-color:#008605;
    padding:5%;
    justify-content:space-between;
    row-gap:5rem;
}
.card {
    width:28rem;
    height:35rem;
    border: 2px solid black;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#f6ffc3;
    min-width:22rem;
    min-height:29rem;
    box-shadow:10px 10px;
}
.card-image {
    width:75%;
    height:50%;
}

@media screen and (max-width:1150px ) {
    .card-container {
        flex-direction:column;
    }
    .card {
        width:50%;
    }
}
@media screen and (max-width:600px) {
    .card{
        width:25%;
        height:25%;
    }
}
#Glaaber-Photo {
    transition: all 0.1s;
}
#Glaaber-Photo:hover {
    transform: scale(3);
}

#Enphosian-Photo {
    transition: all 1s;
}
#Enphosian-Photo:hover {
    transform: scale(1.3);
    box-shadow: 50px 50px 50px 1200px;
    background-color:black;
}
#Gleeber-Photo {
    transition: all 2s;
}
#Gleeber-Photo:hover {
    transform: translate(0rem,-10rem) rotate(360deg)  ;
}
#Gloober-Photo {
    transition:all 1.5s ease-out;
}
#Gloober-Photo:hover {
    transform: rotateX(1080deg);
}
#Gembo-Photo {
    transition:all 2s ease-in;
}
#Gembo-Photo:hover {
    transform:skewX(45deg)
}
#Gazo-Photo {
    transition:all 20s;
}
#Gazo-Photo:hover {
    transform: translateY(-100px);
}