body {
    font-size:25px;
    box-sizing:border-box;
    margin:0;
    padding:0;
    color:#000000;
    background-color:#00ff6d;
}
h1 {
    font-size:50px;
    text-align:center;
    margin-top:3%;
}
.card-container {
    box-sizing:border-box;
    display:flex;
    width:90%;
    margin:3rem auto;
    flex-direction:row;
    align-items:center;
    flex-wrap:wrap;
    flex-direction:row;
    background-color:#008605;
    padding:5%;
    justify-content:space-between;
    row-gap:5rem;
}
.card {
    width:28rem;
    height:35rem;
    border: 2px solid black;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#f6ffc3;
    min-width:22rem;
    min-height:29rem;
    box-shadow:10px 10px;
}
.card-image {
    width:75%;
    height:50%;
}